<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">{{ 'a cerca de nosotros' | translate }}</h3>
                        <p>{{ 'Estudiantes de la Universidad Politecnica Salesiana' | translate }}.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>0984757042</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>lolcito@est.ups.edu.ec</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">{{ 'Categorias' | translate }}</h3>
                        <ul class="footer-links">
                            <li><a href="#">{{ 'Ofertas' | translate }}</a></li>
                            <li><a href="#">{{ 'Laptos' | translate }}</a></li>
                            <li><a href="#">{{ 'Celulares' | translate }}</a></li>
                            <li><a href="#">{{ 'Camaras' | translate }}</a></li>
                            <li><a href="#">{{ 'Accesorios' | translate }}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">{{ 'Informacion' | translate }}</h3>
                        <ul class="footer-links">
                            <li><a href="#">{{ 'a cerca de nosotros' | translate }}</a></li>
                            <li><a href="#">{{ 'Contactanos' | translate }}</a></li>
                            <li><a href="#">{{ 'Politicas de privacidad' | translate }}</a></li>
                            <li><a href="#">{{ 'Ordenes' | translate }}</a></li>
                            <li><a href="#">{{ 'Terminos y condiciones' | translate }}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">{{ 'Servicios' | translate }}</h3>
                        <ul class="footer-links">
                            <li><a href="#">{{ 'mi cuenta' | translate }}</a></li>
                            <li><a href="#">{{ 'Ver carrito' | translate }}</a></li>
                            <li><a href="#">{{ 'Ayuda' | translate }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados  <i class="fa fa-heart-o" aria-hidden="true"></i> by UPS
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->